* {
    --main-bg-color: #151b22;
    --secondary-bg-color: #0d1017;
    --main-text-color: #f0f6fc;
    --secondary-text-color: #c9d1d9;
    --third-text-color: #afbac5;
}

.App {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-bg-color);
    width: 100vw;
    height: 100vh;

    button {
        position: fixed;
        border: none;
        text-decoration: none;
        background: none;
        color: white;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: +1;
    }
}

.Routes {
    // display: none;
}

.sidebarContainer {
    color: var(--main-text-color);



    .sidebar {
        display: flex;
        flex-direction: column;
        width: 12rem;
        background-color: var(--main-bg-color);
        align-items: center;
        height: 100vh;
        position: fixed;

        @media screen and (max-width: 768px) {
            width: 100vw;
        }

        .sidebarMain {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 3rem;
            background-color: var(--secondary-bg-color);
            width: 100%;

            .nameAndLogo {
                display: flex;
                flex-direction: column;
            }

            .logo {
                text-decoration: none;
                color: var(--main-text-color);

            }

            .name {
                font-weight: bold;
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: #0080ff;
                    transition: color 0.2s ease;
                }
            }

            .role {
                font-size: 0.9rem;
                color: var(--secondary-text-color);
            }

        }

        .sidebarLinksContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .sidebarLinks {
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            border-top: 1px solid var(--third-text-color);
            border-bottom: 1px solid var(--third-text-color);
            line-height: 3em;
            color: var(--third-text-color);
            text-decoration: none;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                border-bottom: none;
            }

            &:hover {
                color: #0080ff;
                transition: color 0.2s ease;
            }
        }

        .iconsLink {
            padding: 3rem 1rem;
            fill: var(--third-text-color);

            &:hover {
                fill: #0080ff;
            }

        }
    }
}