.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #0d1017;
  width: 100%;
  height: 100%;
  color: #f0f6fc;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

.App .changeLngButton {
  position: fixed;
  border: none;
  text-decoration: none;
  background: none;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .App .changeLngButton {
    left: inherit;
    right: 1rem;
  }
}

.App .changeLngButton button {
  background: rgba(30, 30, 30, 0.53);
  color: white;
  font-size: 1.2rem;
  padding: 0.2rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease;
}

.App .changeLngButton button:hover {
  color: #0080ff;
}

.App .navButton {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  text-decoration: none;
  background: none;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 2;
}

.App .navButton .menuButton {
  background: rgba(30, 30, 30, 0.53);
  color: white;
  font-size: 2rem;
  padding: 0.2rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.App .navButton .menuButton:hover {
  color: #0080ff;
}

.sidebarContainer {
  color: #f0f6fc;
}

.sidebarContainer .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
  background-color: #151b22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .sidebarContainer .sidebar {
    width: 100vw;
  }
}

.sidebarContainer .sidebar .sidebarMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #0d1017;
  width: 100%;
}

.sidebarContainer .sidebar .sidebarMain .nameAndLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebarContainer .sidebar .sidebarMain .logo {
  text-decoration: none;
  color: #f0f6fc;
}

.sidebarContainer .sidebar .sidebarMain .name {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-align: center;
}

.sidebarContainer .sidebar .sidebarMain .name:hover {
  color: #0080ff;
}

.sidebarContainer .sidebar .sidebarMain .role {
  font-size: 0.9rem;
  color: #c9d1d9;
  text-align: center;
}

.sidebarContainer .sidebar .sidebarLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sidebarContainer .sidebar .sidebarLinks {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 1px solid #475461;
  border-bottom: 1px solid #475461;
  line-height: 3em;
  color: #afbac5;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.sidebarContainer .sidebar .sidebarLinks:nth-child(1), .sidebarContainer .sidebar .sidebarLinks:nth-child(2), .sidebarContainer .sidebar .sidebarLinks:nth-child(3), .sidebarContainer .sidebar .sidebarLinks:nth-child(4) {
  border-bottom: none;
}

.sidebarContainer .sidebar .sidebarLinks:last-child {
  color: #99ccff;
}

.sidebarContainer .sidebar .sidebarLinks:hover {
  color: #0080ff;
}

.sidebarContainer .sidebar .iconsLink {
  padding: 3rem 1rem;
  fill: #afbac5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebarContainer .sidebar .iconsLink:hover {
  fill: #0080ff;
}

.Routes {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .Routes {
    margin-left: 10rem;
  }
}

.pages {
  margin: 3rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .pages {
    margin: 3rem 3rem;
  }
}

.pages h1 {
  font-size: calc(1.5rem + 9px);
}

.pages h2 {
  font-size: calc(1.5rem + 9px);
}

.main {
  margin: 1rem;
  color: #c9d1d9;
  line-height: 2rem;
}

.Home h1 {
  display: inline;
  font-weight: 900;
  color: #f0f6fc;
}

.Home h2 {
  display: inline;
}

.Home .content {
  display: inline;
  margin-left: 0.4rem;
  font-weight: 900;
}

.Home .content h2 {
  color: #0080ff;
  font-size: calc(1.5rem + 9px);
  position: absolute;
  -webkit-transform: translate(0%, -69%);
          transform: translate(0%, -69%);
  display: inline;
  z-index: 0;
}

.Home .content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.1rem #0080ff;
}

.Home .content h2:nth-child(2) {
  color: #0080ff;
  -webkit-animation: animate 4s ease-in-out infinite;
          animation: animate 4s ease-in-out infinite;
}

.Home .content span {
  color: #f0f6fc;
  -webkit-text-stroke: #f0f6fc;
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

.Home main .mainButton {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  background-color: #001224;
  color: #d9dfe4;
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Home main .mainButton:hover {
  background-color: #004d99;
}

.contactButton {
  border: 0;
  cursor: pointer;
  color: #0080ff;
  font-family: inherit;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contactButton:hover {
  color: #004d99;
}

.Projects {
  max-width: 100vw;
}

.Projects .container {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .Projects .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.Projects .project {
  max-width: 600px;
  height: 400px;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .Projects .project {
    max-width: 400px;
    height: 400px;
  }
  .Projects .project:hover .details {
    opacity: 1;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  .Projects .project:hover img {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
}

.Projects .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 768px) {
  .Projects .project img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.Projects .project .details {
  z-index: 0;
  position: absolute;
  bottom: 0;
  color: #f0f6fc;
  margin: 2rem;
  line-height: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (min-width: 768px) {
  .Projects .project .details {
    opacity: 0;
    bottom: -1rem;
  }
}

.Projects .project .details h3 {
  font-size: 2rem;
  padding: 0 0 0 0;
  line-height: 0rem;
}

.Projects .project .details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.Projects .project .details ul li {
  padding: 0.5em 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#333333));
  background: linear-gradient(#4d4d4d, #333333);
  border-radius: 2rem;
}

.backgroundProjectInfo {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.468);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.ProjectInfo {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  background-color: #0d1017;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .ProjectInfo {
    width: 40%;
  }
}

.ProjectInfo .projectMain {
  margin: 2rem;
}

.ProjectInfo .projectMain .projectFooter {
  position: fixed;
  z-index: 2;
  color: #f0f6fc;
  bottom: 0;
  right: 0;
  padding: 1.5rem 0rem;
  text-align: center;
  width: 100%;
  font-weight: 600;
  background-color: #151b22;
}

@media screen and (min-width: 768px) {
  .ProjectInfo .projectMain .projectFooter {
    width: 40%;
  }
}

.ProjectInfo .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProjectInfo .header button {
  color: #f0f6fc;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}

.ProjectInfo .header button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.ProjectInfo .header span {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.ProjectInfo .header span:hover {
  color: #0080ff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ProjectInfo .projectContent {
  color: #c9d1d9;
  padding-bottom: 4rem;
}

.ProjectInfo .projectContent h2,
.ProjectInfo .projectContent h3 {
  color: #f0f6fc;
  font-size: 1.2rem;
}

.ProjectInfo .projectContent p {
  font-size: 0.9rem;
}

.ProjectInfo .projectContent img {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.ProjectInfo .projectContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.ProjectInfo .projectContent ul li {
  color: #f0f6fc;
  background-color: #00264d;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.ProjectInfo .projectContent .projectLinks {
  color: #8b9094;
  font-weight: 600;
  font-size: 0.9rem;
}

.Resume {
  overflow-x: hidden;
}

.Resume a {
  color: #0080ff;
}

.Resume iframe {
  width: 100%;
  height: 27rem;
}

@media screen and (min-width: 768px) {
  .Resume iframe {
    width: 60vw;
    height: 130vh;
  }
}

.Contact .flexContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .Contact .flexContact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1000px) {
  .Contact .flexContact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Contact h2 {
  font-size: calc(1.5rem + 9px);
}

.Contact .main .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Contact .main .links a,
.Contact .main .links button {
  padding: 0;
  margin: 0;
  line-height: 2rem;
  color: #0080ff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Contact .main .links a:hover,
.Contact .main .links button:hover {
  padding-left: 1rem;
}

.ContactForm {
  width: 100%;
}

.ContactForm .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem;
}

.ContactForm .send input {
  color: #f0f6fc;
  background: #151b22;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Kdam Thmor Pro';
}

.ContactForm .send input:hover {
  color: #151b22;
  background: #0080ff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.ContactForm .send input:active {
  color: white;
  background: red;
}

.ContactForm .ContactFormGrid {
  display: -ms-grid;
  display: grid;
  grid: "name email" auto "subject subject" auto "message message" auto/auto auto;
  margin: 1rem;
  gap: 1rem;
  max-width: 100%;
}

.ContactForm .ContactFormGrid .name {
  grid-area: name;
}

.ContactForm .ContactFormGrid .email {
  grid-area: email;
}

.ContactForm .ContactFormGrid .subject {
  grid-area: subject;
}

.ContactForm .ContactFormGrid .message {
  grid-area: message;
}

.ContactForm .ContactFormGrid input,
.ContactForm .ContactFormGrid textarea {
  width: 100%;
  border: 0;
  font-size: 1rem;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  background: #151b22;
  color: #afbac5;
  border-radius: 0.3rem;
}

.ContactForm .ContactFormGrid input:focus,
.ContactForm .ContactFormGrid textarea:focus {
  outline: none;
  color: #0080ff;
}

.ContactForm .ContactFormGrid input {
  padding: 0 20px;
}

.ContactForm .ContactFormGrid textarea {
  padding: 20px;
  min-height: 150px;
  resize: vertical;
}

.Skills .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Skills .main .techsContainer {
  background: #151b22;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .Skills .main .techsContainer {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .Skills .main .techsContainer h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .Skills .main .techsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 12px;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .Skills .main .techsContainer {
    font-size: 16px;
    line-height: 2rem;
  }
}

.Skills .main .techs {
  padding: 25px 30px;
}

.Skills .main .techs:nth-child(1), .Skills .main .techs:nth-child(2), .Skills .main .techs:nth-child(3) {
  border-bottom: 1rem #0d1017 solid;
}

@media screen and (min-width: 990px) {
  .Skills .main .techs:nth-child(1), .Skills .main .techs:nth-child(2), .Skills .main .techs:nth-child(3) {
    border-bottom: none;
    border-left: 0.3rem #0d1017 solid;
  }
}

@media screen and (min-width: 990px) {
  .Skills .main .techs:nth-child(1), .Skills .main .techs:nth-child(2) {
    border-right: 0.8rem #0d1017 solid;
  }
}

.Skills .main .techs p,
.Skills .main .techs h2,
.Skills .main .techs h3 {
  text-align: center;
}

.Skills .main .techs h2 {
  font-size: 1.5rem;
  color: #f0f6fc;
}

.Skills .main .techs h3 {
  color: #0080ff;
}

.Skills .main .techs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Skills .main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.Skills .main .bottom .skillsContainer {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.Skills .main .bottom .techs {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #151b22;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 30%;
  border: none;
}

@media screen and (min-width: 768px) {
  .Skills .main .bottom .techs {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .Skills .main .bottom .techs h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .Skills .main .bottom .techs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 12px;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .Skills .main .bottom .techs {
    font-size: 16px;
    line-height: 2rem;
  }
}

.skill-bars {
  padding: 25px 30px;
  background: #151b22;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.skill-bars .bar {
  margin: 6px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  -webkit-animation: showText 0.5s 1s linear forwards;
          animation: showText 0.5s 1s linear forwards;
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 20px;
  width: 100%;
  background: #afbac5;
  position: relative;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
  -webkit-animation: animateSkills 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animateSkills 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes animateSkills {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animateSkills {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #0080ff;
  -webkit-animation: animateSkills 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animateSkills 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.jquery span {
  width: 85%;
}

.bar .progress-line.python span {
  width: 50%;
}

.bar .progress-line.mysql span {
  width: 75%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -0.625rem;
  right: 0;
  height: 0;
  width: 0;
  border: 0.4375rem solid transparent;
  border-bottom-width: 0rem;
  border-right-width: 0rem;
  border-top-color: #000;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -1.75rem;
  right: 0;
  font-weight: 500;
  background: #0d1017;
  color: #f0f6fc;
  padding: 0.0625rem 0.5rem;
  font-size: 12px;
  border-radius: 1rem 1rem 0.1875rem 1rem;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.jquery span::after {
  content: "85%";
}

.progress-line.python span::after {
  content: "50%";
}

.progress-line.mysql span::after {
  content: "75%";
}
/*# sourceMappingURL=App.css.map */