@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
